<header>
    <h1>Header</h1>
    <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/users/profile">User Profile</a></li>
        <li><a href="/projects/">Project List</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</header>