<option value="Proj Sponsor">Project Sponsor</option>
<option value="SME">Subject Matter Expert</option>
<option value="Proj Owner" selected>Project Owner</option>
<option value="Proj Mgr">Project Manager</option>
<option value="Tech Lead">Technical Lead</option>
<option value="Soft Dev">Software Developer</option>
<option value="Soft Test">Software Tester</option>
<option value="UA Test">User Acceptance Tester</option>
<option value="Jr Dev">Junior Developer</option>
<otpion value="Delete">Delete Position</otpion>