<h1>create project</h1>
<form action= "/projects" method="POST">
    <div>
        <label for="projectID">ProjectID</label>
        <input type="text" id="projectID" name="projectID" readonly value="<%= projID %>">
    </div>
    <div>
        <label for="creator">Creator</label>
        <input type="email" id="creator" name="creator" readonly value="<%= email %>">
    </div>
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" name="descritpion" rows="4" cols="50"></textarea>
    </div>
    <div>
        <label for="status">Status</label>
        <input type="text" id="status" name="status" readonly value ="New">
    </div>
    <div>
        <label for="start">Start Date</label>
        <input type="text" id="start" name="start" readonly value="<%= startDate %>">
    </div>
    <button type="submit">Create Project</button>
</form>