<h1>User Profile</h1>
<div>
    <label for="regName">First Name</label>
    <input type="text" id="regName" name="regName" readonly value="<%= userInfo.firstName %>" >
</div>
<div>
    <label for="regName">Last Name</label>
    <input type="text" id="regName" name="regName" readonly value="<%= userInfo.lastName %>" >
</div>
<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" readonly value="<%= userInfo.email %>">
</div>
<div>
    <label for="role">Role</label>
    <input type="text" id="role" name="role" readonly value="<%= userInfo.role %>">
</div>